footer {
    margin: 0;
    padding: 0;
}

#footerTop {
    background-color: #787878;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
}

#footerTop img {
    max-height: 170px;
    width: auto;
    border-radius: 10px;
}

.footerContent {
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    color: #ffff;
}


.footerContent h3 {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.footerContent ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.footerContent ul li p {
    text-decoration: none;
    font-weight: regular;
    color: #e9e9e9;
}

.footerContent ul li a {
    text-decoration: none;
    color: #e9e9e9;
}

.footerContent ul li a :hover {
    text-decoration: underline;
}

#footerBottom {
    background-color: #000;
    color: #e9e9e9;
    margin: 0;
    padding: 5px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 900px) {
    #footerTop {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerContent {
        margin: 20px 0;
    }

    #footerBottom {
        flex-direction: column;
        text-align: center;
    }
    
}